@import "vars"
// Post style
.post
  font-size: 16px
  font-weight: 500
  &__author
    padding: 5px 8px
    display: inline-block
    color: $text-color
    text-decoration: none
  &__avatar
    width: 35px
    height: 35px
    border-radius: 50%
    margin-right: 8px
  &__image
    width: 100%
    height: 300px
    background-position: center center
    background-size: cover
  &__content
    padding: 5px 8px
  &__likes
    display: block
  &__heart
    padding: 5px 0
    .fa
      font-size: 2em
    .fa-heart
      color: #f06595
  &__caption
    font-weight: normal
    margin-left: 5px

