@import "vars"
@import "fonts"
@import "libs"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: $text-color

html, body
  height: 100%

body
  font-size: 18px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text-color

  input, textarea
    border: #666 1px solid
    outline: none

    &:focus:required:invalid
      border-color: red

    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

  &.img-width
    width: 100%

.text-center
  text-align: center

a
  color: $accent
  text-decoration: underline

  &:hover, &:focus
    color: $accent


.post-wrapper
  display: grid
  max-width: 1346px
  margin: 0 auto
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 20px

/*==========  Desktop First  ==========*/

// ≥1200px
//@media (max-width: 1200px)
// ≥992px
@media (max-width: 992px)
  .post-wrapper
    grid-template-columns: repeat(3, 1fr)
// ≥768px
@media (max-width: 768px)
  .post-wrapper
    grid-template-columns: repeat(2, 1fr)

// ≥576px
@media (max-width: 576px)
  .post-wrapper
    grid-template-columns: repeat(1, 1fr)

