@import "grid"
@import "item"
@import "breadcrumbs"
$width: 100%
.post-page
  .post
    flex: 0 0 $width
    max-width: $width
    margin: 30px 0
    &__image
      height: auto

.breadcrumbs-list
  margin-left: 10px

